/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

// CONFIG
#define COMBO_TIMEOUT 70
#define COMBO_LAYERS 0
#define STICKY_TIMEOUT 500

&sk {
    release-after-ms = <STICKY_TIMEOUT>;
    quick-release;
};

/ {
  combos {
    compatible = "zmk,combos";
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &none &none &none &none
        &none &none &none &none
                          &none &none
      >;
    };
  };
};
